@import "bootstrap/scss/functions";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/variables";

$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"),
            (responsive: true,
            )),
        "font-size": (rfs: false,
            property: font-size,
            responsive: true,
            class: fs,
            values: $font-sizes,
        ),
        "opacity": (property: opacity,
            responsive: true,
            class: op,
            values: (10: 0.1,
                20: 0.2,
                30: 0.3,
                40: 0.4,
                50: 0.5,
                60: 0.6,
                70: 0.7,
                80: 0.8,
                90: 0.9,
                100: 1,
            ),
        ),
        "bg-opacity": (css-var: true,
            class: bg-opacity,
            values: (0: 0,
                10: 0.1,
                20: 0.2,
                30: 0.3,
                40: 0.4,
                50: 0.5,
                60: 0.6,
                70: 0.7,
                80: 0.8,
                90: 0.9,
            ),
        ),
        "shadow": (property: box-shadow,
            class: shadow,
            values: (light-blue: $box-shadow-light-blue,
			secondary-50: $box-shadow-secondary-50,
			primary-50: $box-shadow-primary-50,
			purple: $box-shadow-purple,
			pink: $box-shadow-pink,
			red: $box-shadow-red,
                none: none,
            )),
    ));
